{% extends "base.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}{% trans "Gallery" %}{% endblock %}

{% block title %}
{% trans "Gallery" %}
{% endblock %}

{% block left_column %}
    <div class="col-md-2 left">
        <h3>Albums</h3>
        {% for t in tags %}
            <p>
            <a href="">{{t}}</a>
            </p>
        {% endfor %}
    </div>
{% endblock %}



{% block main_column %}
    <div class="col-md-10 middle">
    {% block main %}

        {% for i in images %}
            <div class="row">
                <div class="span4">
                    <div class="media-list">
                        <img class="image-overlay-thumb" src="{{ MEDIA_URL }}{% thumbnail i.filename 150 0 %}">
                        <p>Tags:
                        {% for t in i.tags.all %}
                          {{t}},
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}

        {% pagination_for images %}

    {% endblock %}
{% endblock %}


{% block right_column %}
{% endblock %}

