from __future__ import unicode_literals
import multiprocessing

bind = "unix:/home/%(user)s/webapps/%(proj_name)s/%(proj_name)s/gunicorn.sock"
workers = multiprocessing.cpu_count() * 2 + 1
loglevel = "error"
proc_name = "%(proj_name)s"
